<header class="bg-blue-500 text-white text-xl p-4 flex justify-between items-center shadow-md">
    <h1 class="font-semibold">My Website</h1>
    <nav>
        <ul class="flex space-x-4">
            <li><a href="#" class="hover:text-gray-200">Home</a></li>
            <li><a href="#" class="hover:text-gray-200">About</a></li>
            <li><a href="#" class="hover:text-gray-200">Services</a></li>
            <li><a href="#" class="hover:text-gray-200">Contact</a></li>
        </ul>
    </nav>
</header>

<h2 class=" bg-cyan-300">The website to build it simple</h2>
<p class="text-center">my-new-component works!</p>
<p>{{a}}</p>
<p>{{value}}</p>
<button class="placeholder-fuchsia-400" (click)="functionValueChange()">Change</button>
